# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo


# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Run time directory structure
## Ignore driver files but keep the drivers directory
drivers/*
!drivers/.gitkeep
## Ignore logs directory, created at runtime
logs/
## Ignore chrome_app_data directory, created at runtime
chrome_app_data/